<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GDS</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/backend-plugin.min.css}">
    <link rel="stylesheet" th:href="@{/css/backend.css}">
    <link rel="stylesheet" th:href="@{/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/remixicon/fonts/remixicon.css}">

    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css}">
    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css}">
    <link rel="stylesheet" th:href="@{/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css}">
<body class="  ">

<!-- Wrapper Start -->
<div class="wrapper">

    <!--   SideBar     -->
    <div th:insert="~{Sections/sidebar :: sidebar}">  </div>
    <!--    <div th:replace="fragment/form :: sidebar(${user})">  </div>-->

    <!--   NavBar     -->
    <div th:insert="~{Sections/navbar :: navbar(${user})}">  </div>

    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Groups List</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <div class="row justify-content-between">
                                    <div class="col-sm-4 col-md-4">
                                        <div id="user_list_datatable_info" class="dataTables_filter">
                                            <form class="mr-3 position-relative">
                                                <div class="form-group mb-0">
                                                    <input name="searchName" th:value="${searchName}" type="search" class="form-control" id="exampleInputSearch" placeholder="Search"
                                                           aria-controls="user-list-table">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="pl-3 border-left btn-new">
                                        <a th:href="@{/createGroups}" class="btn btn-primary" >+ Add Groups</a>
                                    </div>
                                </div>
                                <table id="user-list-table" class="table table-striped dataTable mt-4" role="grid"
                                       aria-describedby="user-list-page-info">
                                    <thead>
                                        <tr class="ligth">
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Matricule</th>
                                            <th>Nbr Etudiant</th>
                                            <th>Nbr Cours</th>
                                            <th colspan="2" style="width: 15%" ></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr  th:each="s:${pageGroupsAll}">
                                            <td th:text="${s.id}"></td>
                                            <td th:text="${s.nom}"></td>
                                            <td th:text="${s.matricule}"></td>
                                            <td th:text="${s.etudiants.size()}"></td>
                                            <td th:text="${s.cours.size()}"></td>
                                            <td >
                                                <a class="btn btn-danger"  th:href="@{deleteGroups(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}"> Delete </a>
                                            </td>
                                            <td >
                                                <a class="btn btn-outline-dark" th:href="@{editGroups(page=${currentPage}, size=${size}, search=${searchName}, id=${s.id})}"> Edit </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row justify-content-between mt-3">
                                <div id="user-list-page-info" class="col-md-6">
                                    <span th:if="${pageGroupsAll.size()>0}" th:text="'Showing 1 to '+ ${pageGroupsAll.size()}+ ' of '+ ${lenght}+ ' entries ' "></span>
                                </div>
                                <div class="col-md-6">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-end mb-0">
                                            <li class="nav-item me-2 pl-1"
                                                th:each="p:${pagesGroups}" >
                                                <a  th:text="${p+1}"
                                                   th:class="${p==currentPage? 'btn btn-primary' : 'btn btn-outline-primary'}"
                                                   th:href="@{indexGroups(page=${p}, size=${size}, search=${searchName})}">&nbsp</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>
<!-- Wrapper End-->

<!-- Modal list start -->

<!-- Backend Bundle JavaScript -->
<script th:src="@{/js/backend-bundle.min.js}"></script>

<!-- Table Treeview JavaScript -->
<script th:src="@{/js/table-treeview.js}"></script>

<!-- Chart Custom JavaScript -->
<script th:src="@{/js/customizer.js}"></script>

<!-- Chart Custom JavaScript -->
<script async th:src="@{/js/chart-custom.js}"></script>
<!-- Chart Custom JavaScript -->
<script async th:src="@{/js/slider.js}"></script>

<!-- app JavaScript -->
<script th:src="@{/js/app.js}"></script>

<script th:src="@{/vendor/moment.min.js}"></script>
</body>
</html>